h1
{
	color: blue;
}

h3
{
	color: red;
}

body
{
	background-color: blue;
}

#carte
{

width: 1200px;
margin: center;
background-color: white;
text-align: center;
align-content: center;
}

ul li
{
	list-style-type: none;
}



#scr
{

width: 2000px;
text-align: center;
align-content: center;
}

